[output_pin 3dchameleon]
pin: !host: gpio20

[3dchameleon]

[save_variables]
filename: ~/printer_data/config/variables.cfg

[gcode_macro Set_Chameleon_State]
gcode:
  SAVE_VARIABLE VARIABLE=prev_ext VALUE={params.P|int}
  SAVE_VARIABLE VARIABLE=layer VALUE={params.L|int}

[gcode_macro Get_Chameleon_State]
gcode:
  {% set saved = printer.save_variables.variables %}
  RESPOND TYPE=command MSG='P{saved.prev_ext} L{saved.layer}'

[gcode_macro Tip_Shaping]
gcode:
  {% set temp = params.TEMP | int %}
  {% set stages = params.STAGES | default(4) | int %}
  M106 S255
  {% if stages >= 1 %}
  M104 S180 ; cool down to prevent swelling
  TEMPERATURE_WAIT SENSOR=extruder MAXIMUM=180
  {% endif %}
  G0 E20 F1500
  G0 E-5 F500
  {% if stages >= 2 %}
  M104 S165
  TEMPERATURE_WAIT SENSOR=extruder MAXIMUM=165
  {% endif %}
  G0 E5 F1500
  G0 E-1 F500
  {% if stages >= 3 %}
  M104 S155
  TEMPERATURE_WAIT SENSOR=extruder MAXIMUM=155
  {% endif %}
  G0 E1 F1500
  G0 E-25 F500
  {% if stages >= 4 %}
  M104 S150
  TEMPERATURE_WAIT SENSOR=extruder MAXIMUM=150
  {% endif %}
  G0 E24 F1500 ; last tip dip with cold tip
  G0 E-24 ; last tip dip with cold tip
  M109 R180 ; ok... go back up in temp so we can move the extruder
  G0 E-80 F500 ; back out of the extruder
  G92 E0
  M107
  M104 S{temp}

[gcode_macro Toolchange]
gcode:
  {% set saved = printer.save_variables.variables %}
  {% set t = params.T|int %}
  {% set p = saved.prev_ext %}
  {% set l = saved.layer %}
  {% if t != p %}
    SAVE_VARIABLE VARIABLE=efsensor VALUE=0

    M83 
    G92 E0
    
    M117 T{p} -> T{t}
    
    # G0 E-20 F500
    
    PULSE_CHAMELEON PULSES={t+1}
    UNLOAD_CHAMELEON TOOL={t}
    LOAD_CHAMELEON
    
    {% if p>-1 %}

      G92 E0
      G0 E50 F2000 ; E-80
      G90
    
    {% endif %}
    
    G92 E0
    M83

    G0 E15 F1500; <<<--- adjust this E value to tune extruder loading
    G4 P400

    G92 E0
    G90
    M83

    M117 3D Chameleon Tool T{t}
    SAVE_VARIABLE VARIABLE=prev_ext VALUE={t}

    G4 P1000
    SAVE_VARIABLE VARIABLE=efsensor VALUE=1
  {% endif %}

[gcode_macro T0]
gcode:
  {% if not params.N %}
  Toolchange T=0
  {% endif %}

[gcode_macro T1]
gcode:
  Toolchange T=1

[gcode_macro T2]
gcode:
  Toolchange T=2

[gcode_macro T3]
gcode:
  Toolchange T=3
